@import url(https://fonts.googleapis.com/css?family=Lobster);
/* p {
  color: blue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1 {
  color: red;
  border: 1px solid seagreen;
  border-radius: 10px;
}
h1:hover {
  box-shadow: 0 0 10px 0 #000;
} */
.main_space {
  background-color: rgb(100, 155, 245);
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 15px;
  border-radius: 10px;
  font-family: 'Lobster';
}
.main_form {}
.main_label {}
.main_input {}
.main_button {}
.main_list {}
.main_value {}
.main_text {}
.main_list_button_trash {}
.main_list_button_edit {}
.main_paragraph {}