$h_header: 120px
$h_footer: 60px
.main_header
  box-sizing: border-box
  height: $h_header
  display: flex
  justify-content: space-between
  font-family: 'Lobster'
  padding-right: 20px
  

.main_header__logo
  aspect-ratio: 2 / 1
  max-height: 100%

.main_main
  border: 10px solid #89c8d9
  box-sizing: border-box
  height: calc(100vh - $h_header - $h_footer)


.main_footer
  border: 10px solid #7e7e7e
  box-sizing: border-box
  height: $h_footer

.main_header__bar-contact
  display: flex
  gap: 60px
  align-items: center

.main_header__navbar
  display: flex
  gap: 30px
  
.main_header__navlink
  color: #EC008C
  cursor: pointer
  user-select: none
  &:hover
    color: #F49AC1
  &:active
    color: #EC008C

.main_header__navlink--active
  border-bottom: 3px solid
  border-color: #EC008C

.main_header__contact
  color: #27BDBE
